body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1F2937;
    color: #55F991;
    text-align: left; 
}


h1 {
    color: white;
    height: 18px;
    margin-top: 150px;
}

h2 {
    height: 18px;
}

#white-p {
color: white;
height: 75px;
font-size: 20px;
}

#white-p2 {
    color: white;
    height: 0px;
    font-size: 14px;
    margin-bottom: 20px;
  }

.input-field-and-button {
    margin-top: 20px;
    width: 500px;
    display: inline;
   
}

#NumberInput{
    height: 30px;
    border-radius: 3px;
    outline: none;
    width: 250px;
}

button {
    background-color: #55F991;
    border: 0;
    border-radius: 3px;
    width: 250px;
    height: 42px;
    left: 52px;
    top: 287px;
    color: white;
    text-shadow: 50%;
    margin-bottom: 20px;
   
}

.checkboxes {
display: flex;
}
.checkboxParagraphs{
    margin-right: 20px;

}



.pws {

    width: 446px;
    height: 0px;
    left: 52px;v
    top: 364px; 
    display: flex;
    border-top: 1px;
    background: #2F3E53;
    text-align: center;
 
}

.pw-block {
    width: 446px;
    height: 0px;
    left: 52px;
    top: 364px; 
    display: flex;
    border-top: 1px;
    margin-top: 50px;
    text-align: center;
    

 
}

#tiles-i{
    width: 211px;
    height: 39px;
    background-color: #2F3E53;
    border-radius: 3px;
    margin-right: 30px;
    font-size: 25px;
    margin-top: 50px;

    
    
}

#tiles-i:hover{
    background-color: #ffffff33;

}

#tiles-ii{
    width: 211px;
    height: 39px;
    background-color: #2F3E53;
    border-radius: 3px;
    margin-right: 30px;
    font-size: 25px;
    margin-top: 50px;

    
    
}

#tiles-ii:hover{
    background-color: #ffffff33;

}

#tiles-iii{
    width: 211px;
    height: 39px;
    background-color: #2F3E53;
    border-radius: 3px;
    margin-right: 30px;
    font-size: 25px;
    margin-top: 50px;

    
    
}

#tiles-iii:hover{
    background-color: #ffffff33;

}

#tiles-iv{
    width: 211px;
    height: 39px;
    background-color: #2F3E53;
    border-radius: 3px;
    margin-right: 30px;
    font-size: 25px;
    margin-top: 50px;
}
#tiles-iv:hover{

    background-color: #ffffff33;
}






    


#pwi{
    font-size: 12px;
 
}

#pwii{
    font-size: 12px;

}

#pwiii{
    font-size: 12px;
}

#pwiv{
    font-size: 12px;
}
